<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_vector_img_for_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_vector_img_for_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healix"
        tools:targetApi="31">
        <activity
            android:name=".week_diet_plan"
            android:exported="false" />
        <activity
            android:name=".ask_free_question_activity"
            android:exported="true"></activity>
        <activity
            android:name=".questions_answers_by_expert"
            android:exported="true"></activity>
        <activity
            android:name=".diet_planning_page"
            android:exported="false" />
        <activity
            android:name=".trackSample"
            android:exported="false" />
        <activity
            android:name=".downloadReport"
            android:exported="false" />
        <activity
            android:name=".lab_tests"
            android:exported="false" />
        <activity
            android:name=".StepTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".CommunityForum"
            android:exported="false" />
        <activity
            android:name=".healthCheckups"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".home_lab_test"
            android:exported="false" />
        <activity
            android:name=".signup_Page"
            android:exported="false" />
        <activity
            android:name=".login_Page"
            android:exported="false" />
        <activity
            android:name=".start_page"
            android:exported="false" />
        <activity
            android:name=".home_page"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".StepCounterService"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>